mixin l(path, name)
	if path == current_path
		a.active(href= path)= name
	else
		a(href= path)= name
doctype 5
html
	head
		title= title
		include misc/header

	body
		include misc/content_header

		block content

		include misc/content_footer

