form#login-form(action="user_login", method="post")
  table
    tr
      td
        | 用户名:
      td
        input(name="username", type="text", required="true")
    tr
      td
        | 密码
      td
        input(name="password", type="password", required="true")
    tr
      td
      td
        button.btn.btn-primary(type="submit", value="登录")
          |登录