extends layout

block content
	.container
		.row
			.span3
				include misc/left
			.span6
				form.form-horizontal
					.control-group
						label.control-label(for="username")
							用户名
						.controls
							input(type="text", name="username", placehoder="用户名")
					.control-group
						label.control-label
							密码
						.controls
							input(type="password", name="password")
					.control-group
						label.control-label
							重复密码
						.controls
							input(type="password", name="repassword")
					.control-group
						label.control-label
							省
						.controls
							select.input-small(name="province")
								option.
									上海
								option.
									广东
							select.input-small(name="city")
								option.
									闸北
					.control-group
						.controls
							label.radio
								input(type="radio", name="enterprice", checked="checked").
								企业账户
							label.radio
								input(type="radio", name="enterprice").
								普通账户
