link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/jquery-easyui/themes/default/easyui.css')
link(rel='stylesheet', href='/jquery-easyui/themes/default/dialog.css')
link(rel='stylesheet', href='/jquery-easyui/themes/icon.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(type='text/javascript', src='/javascripts/jquery.js')
script(type='text/javascript', src='/jquery-easyui/jquery.easyui.min.js')
script(type='text/javascript', src='/javascripts/easyui.plugin.js')
script(type='text/javascript', src='/javascripts/app.js')