ul.nav.nav-list
	li.nav-header 管理首页
	li
		mixin l("/", "首页")
	li.nav-header 合作厂商
	li
		mixin l("/list_enterprice", "合作厂商")
	li
		mixin l("/add_enterprice", "添加合作厂商")
	li.nav-header 经销商
	li
		mixin l("/list_dealer", "经销商列表")
	li
		mixin l("/add_dealer", "添加经销商")
	li.nav-header 系统账户
	li
		mixin l("/list_admin_user", "管理员")
	li
		mixin l("/list_op_user", "操作人员")
	li
		mixin l("/add_op_user", "添加操作员")
	li.nav-header 广告管理
	li
		mixin l("/list_ads", "广告列表")
	li
		mixin l("/add_ads", "添加广告")