ul.nav.nav-list
	li
		a(href="#", title="hello") 管理首页
		a(href="#", title="Add ad") 添加广告
		a(href="#", title="") 我的广告
		a(href="#", title="#") 统计数据
		a(href="#", title="") 我的账户
		a(href="/add_user", title="") 添加账户
		a(href="/logout", title) 登出系统